div {
    font-family: Noto Sans;
}

hr {
    width: 75%;
    height: 3px;
    background-image: linear-gradient(to right, #281409, #CEA46D, #281409);
    border: none;
}

ul {
    list-style-type: none;
}

.disabled {
    opacity: 50%;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.flex-1 {
    flex: 1;
}

div.gear-goals-body {
    width: 95%;
    height: 90vh;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    border: 2px #8F7858 solid;
    border-radius: 8px;
    overflow: hidden;
    background-color: #281409;
}

div.layout-column-side {
    flex-basis: 25%;
}
div.layout-column-center {
    flex-basis: 55%;
    justify-content: space-between;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.text-center {
    text-align: center;
}

.container-center {
    margin: auto;
}

.hero-header {
    margin-bottom: 0px;
}

div.hero-info {
    overflow: visible;
    position: fixed;
    margin-top: 15px;
}

div.hero-info span {
    color: #ADA39F;
}

div.hero-info h1 {
    font-family: Oswald;
    font-size: 3.5rem;
    overflow: visible;;
    margin-top: -10px;
    margin-bottom: 0px;
}

div.hero-info span {
}

div.hero-info span img {
    width: 22px;  height: 22px;
    vertical-align: middle;
}

div.hero-info .hero-info-text {
    vertical-align: middle;
    margin-left: 5px;
    padding-right: 2px;
}

div.hero-column-wrapper {
    margin-left: 20px;
}

div.gear-goals-hero-panel {
    margin-top: 110px;
    flex-direction: column;
    height: 100%;
}

div.gear-slots-column {
    flex-direction: column;
    flex-basis: 180px;
    height: 500px;
    text-align: center;
    align-items: flex-end;
    justify-content: space-between;
}

div.left-20 {
    margin-left: 20px;
}

div.right-20 {
    margin-right: 20px;
}

div.gear-slots-column-hero {
    flex-basis: 10%;
    position: absolute;
    overflow: visible;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
}

div.gear-slots-column-hero img {
    position: absolute;
    height: 100%;
	max-height: 100%;
	top: 50%;
	left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    z-index: -1;
}

.smalltext {
    font-size: .65rem;
}

input {
    background-color: rgba(0,0,0,0);
    color: white;
}

select {
    background-color: rgba(0,0,0,0.7);
    color: rgba(255,255,255,1);
}

option {
    background-color: rgba(0,0,0,0.5);
    color: rgba(255,255,255,1);
}

td.stat-target-value input {
    width: 50px;
}

/* Max Level styling */
div.max-level {
    font-family: Noto Sans;
    font-size: 2.3rem;
    color: #FA930E;
    font-weight: 50%;
}

div.max-level select {
    background-color: rgba(0,0,0,l0);
    -webkit-appearance: menulist-bottom;
    font-size: 2.3rem;
    font-weight: 60%;
    color: #FA930E;
    outline: none;
    border: none;
}

div.max-level option {
    font-size: 1rem;
    color: #FA930E;
    
}

/* Awakenings styling */
div.section-awakenings {
    width: 165px;
}

div.section-awakenings input[type="range"] {
    width: 95%;
}

div.section-awakenings table  {
    width: 100%
}

img.awakening-star {
    width: 20px; height: 20px;
}

/* Stats Table Styling */ 
.stat-table th {
    display: table-cell;
    vertical-align: bottom;
    text-align: left;;
    font-weight: 65%;
    border-bottom: 1px solid #56442D;
}

.stat-table td {
    color: #ADA39F;
}

/* Gear Sets styling */
.gear-set-select select {
    width: 150px;
    outline: none;
    border: none;
    border: none;
    border-bottom: 1px solid #56442D;
    
}
.gear-set-select .no-set {
    color: #56442D;
}

/* Stat styling */
.stat-target-value input {
    border: none;
    border-bottom: 1px solid #56442D;
}

.stat-target-value input:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border-bottom: 1px solid #9E7C53;
}

/* Analysis Table Styling */
th.table-header-row {
    border: none;
    font-weight: 50%;
}

td.stat-cell {
    border: none;
    padding-right:L 15px;
}

th.gear-analysis-stat, td.gear-analysis-stat {
    padding-right: 15px;
}

.stat-analysis-icon {
    background-size: 15px 15px;;
    padding-left: 15px;
}

/* Calculate button stylings */
div.calc-button {
    margin: auto;
}

div.calc-button button {
    font-size: 1.25rem;
    font-weight: 100%;
    background: linear-gradient(#042314, #216910);
    border: 2px solid #216910;
    border-bottom: 2px solid #1F9610;
    border-radius: 7px;
    padding: 10px 20px 10px 20px;
}

/* Results column styling */
div.gear-goals-results h2 {
    margin-bottom: 0px;
}

ul.substat-list {
    text-align: center;
    color: #ADA39F;
}

table.slot-select {
    margin: auto;
}

table.slot-select td {
    color: #ADA39F;
}

/* Stat Icons */
.attack-flat, .stat-1, .gear-stat-1 {
    background-image: url("../../../../assets/ui/stat-icons/1.png");
    background-repeat: no-repeat;
    background-position: left center;
}

.defense-flat, .stat-2, .gear-stat-3 {
    background-image: url("../../../../assets/ui/stat-icons/3.png");
    background-repeat: no-repeat;
    background-position: left center;
}

.health-flat, .stat-3, .gear-stat-5 {
    background-image: url("../../../../assets/ui/stat-icons/5.png");
    background-repeat: no-repeat;
    background-position: left center;
}

.speed, .stat-4, .gear-stat-7 {
    background-image: url("../../../../assets/ui/stat-icons/7.png");
    background-repeat: no-repeat;
    background-position: left center;
}

.critrate, .stat-5, .gear-stat-8 {
    background-image: url("../../../../assets/ui/stat-icons/8.png");
    background-repeat: no-repeat;
    background-position: left center;
}

.critdmgt, .stat-6, .gear-stat-9 {
    background-image: url("../../../../assets/ui/stat-icons/9.png");
    background-repeat: no-repeat;
    background-position: left center;
}

.effectiveness, .stat-7, .gear-stat-10 {
    background-image: url("../../../../assets/ui/stat-icons/10.png");
    background-repeat: no-repeat;
    background-position: left center;
}

.effres-flat, .stat-8, .gear-stat-11 {
    background-image: url("../../../../assets/ui/stat-icons/11.png");
    background-repeat: no-repeat;
    background-position: left center;
}

/* Gear checkbox icons */
.substat-slot {
    padding: 0 0 0 0px;
    background-color:lime;
}

div.substat-slot-check {
    width: 15px;
    height: 15px;
    padding-left: 2px;
    padding-right: 2px;
    background-size: 25px 25px;
}

.substat-slot input.substat-slot-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


label.substat-slot input ~ .slot-1 {
    background-image: url("../../../../assets/ui/equip-icons/1_disabled.png");
    background-repeat: no-repeat;
    background-position: center center;
}

label.substat-slot input:checked ~ .slot-1 {
    background-image: url("../../../../assets/ui/equip-icons/1.png");
    background-repeat: no-repeat;
    background-position: center center;
}

label.substat-slot input:disabled ~ .slot-1 {
    background-image: url("../../../../assets/ui/equip-icons/1_invalid.png");
    background-repeat: no-repeat;
    background-position: center center;
}


label.substat-slot input ~ .slot-2 {
    background-image: url("../../../../assets/ui/equip-icons/2_disabled.png");
    background-repeat: no-repeat;
    background-position: center center;
}

label.substat-slot input:checked ~ .slot-2 {
    background-image: url("../../../../assets/ui/equip-icons/2.png");
    background-repeat: no-repeat;
    background-position: center center;
}

label.substat-slot input:disabled ~ .slot-2 {
    background-image: url("../../../../assets/ui/equip-icons/2_invalid.png");
    background-repeat: no-repeat;
    background-position: center center;
}


label.substat-slot input ~ .slot-3 {
    background-image: url("../../../../assets/ui/equip-icons/3_disabled.png");
    background-repeat: no-repeat;
    background-position: center center;
}

label.substat-slot input:checked ~ .slot-3 {
    background-image: url("../../../../assets/ui/equip-icons/3.png");
    background-repeat: no-repeat;
    background-position: center center;
}

label.substat-slot input:disabled ~ .slot-3 {
    background-image: url("../../../../assets/ui/equip-icons/3_invalid.png");
    background-repeat: no-repeat;
    background-position: center center;
}

label.substat-slot input ~ .slot-4 {
    background-image: url("../../../../assets/ui/equip-icons/4_disabled.png");
    background-repeat: no-repeat;
    background-position: center center;
}

label.substat-slot input:checked ~ .slot-4 {
    background-image: url("../../../../assets/ui/equip-icons/4.png");
    background-repeat: no-repeat;
    background-position: center center;
}

label.substat-slot input:disabled ~ .slot-4 {
    background-image: url("../../../../assets/ui/equip-icons/4_invalid.png");
    background-repeat: no-repeat;
    background-position: center center;
}


label.substat-slot input ~ .slot-5 {
    background-image: url("../../../../assets/ui/equip-icons/5_disabled.png");
    background-repeat: no-repeat;
    background-position: center center;
}

label.substat-slot input:checked ~ .slot-5 {
    background-image: url("../../../../assets/ui/equip-icons/5.png");
    background-repeat: no-repeat;
    background-position: center center;
}

label.substat-slot input:disabled ~ .slot-5 {
    background-image: url("../../../../assets/ui/equip-icons/5_invalid.png");
    background-repeat: no-repeat;
    background-position: center center;
}


label.substat-slot input ~ .slot-6 {
    background-image: url("../../../../assets/ui/equip-icons/6_disabled.png");
    background-repeat: no-repeat;
    background-position: center center;
}

label.substat-slot input:checked ~ .slot-6 {
    background-image: url("../../../../assets/ui/equip-icons/6.png");
    background-repeat: no-repeat;
    background-position: center center;
}

label.substat-slot input:disabled ~ .slot-2 {
    background-image: url("../../../../assets/ui/equip-icons/6_invalid.png");
    background-repeat: no-repeat;
    background-position: center center;
}