* {
    font-family: Noto Sans;
}

div.gear-slot {
    width: 100%;
    background-color: rgba(0,0,0,0.5);;
    border: 1px solid #7B6742;
    border-radius: 4px;
    padding: 3px;
}

div.gear-slot-icon {
    height: 75px;
    width: 75px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

img.gear-icon {
    width: 100%;
    height: 100%;
}

div.gear-slot input {
    font-size: 1.25rem;
    color: white;
    text-align: center;
    background-color: rgba(0,0,0,0);
    margin-top: 3px;
    width: 60px;
    border: none;
    border-bottom: 1px solid #56442D;
}

div.gear-slot select {
    color: white;
    background-color: rgba(0,0,0,0);
    border: 1px solid #56442D;
}

div.gear-slot select:disabled {
    color: #ADA39F;
}

div.gear-slot option {
    color: white;
    background-color: #281409;
}

/*

div.gear-slot {
    background-color: rgba(0,0,0,0.5);;
    z-index: 10;
    border: 1px solid #7B6742;
    border-radius: 4px;
}

div.gear-slot-icon {
    text-align: center;
    height: 100px;
    margin: auto;
}

.gear-slot-icon img {
    width: 75px;
    height: 75px;
    position: absolute;
    margin: auto;
}

div.gear-slot-stat-select {
    width: 100px;
}

select {
    width: 100%;
}

div.gear-slot-stat-value {
    width: 60%;
    margin: auto;
}

div.gear-slot-stat-value input {
    width: 75%;
    height: 1.25rem;
    font-size: 1rem;
    font-weight: 65%;
}

input {
    background-color: black;
    color: white;
}

select {
    background-color: rgba(0,0,0,0.7);
    color: rgba(255,255,255,1);
}

option {
    background-color: rgba(0,0,0,0.5);
    color: rgba(255,255,255,1);
}


*/